@import 'toolkit';

.pitch {
  position: relative;
}

.pitch:before {
  position: absolute;
  content: "";
  z-index: -1;
  transform: rotate(90deg);
  background-image: url(./pitch-bg.png);
  background-repeat: no-repeat;
  width: 594px;
  height: 372px;
  margin-left: -297px;
  margin-top: -186px;
  left: 50%;
  top: 50%;
}
